html {
    scroll-behavior: smooth;
    font-family: rouge sans;
    font-weight: 100;
}

body {
    margin: 0;
    position: relative;
    /* V1 */
    /* background-color: #f4d59a7c; */
    /* V2 */
    background-color: rgb(10, 10, 10);
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked+header {
    transform: translateX(0);
    /* V1 */
    /* box-shadow: rgba(0, 0, 0, 0.568) 17px 10px 6px; */
    /* V2 */
    box-shadow: #f4d59a4b 17px 10px 6px;
}

label {
    margin: 10px;
    font-size: 25px;
    /* V1 */
    /* color: #535353; */
    /* V2 */
    color: rgb(230, 222, 222);
}

header {
    /*font-family: papyrus;*/
    z-index: 4;
    display: grid;
    padding: 5px;
    position: absolute;
    top: 35px;
    bottom: 85%;
    left: 0;
    right: 36px;
    /* V1 */
    /* background-color: #EBE3DC; */
    /* V2 */
    background-color: #272727;
    transform: translateX(-100%);

    /* V2 */
    align-items: center;
    font-size: larger;
}

header a {
    margin: 15px;
    text-decoration: none;
    /* V1 */
    /* color: #535353; */
    color: rgb(230, 222, 222);
}

header a:first-child {
    border-bottom: 3px solid #b99148;
    color: #8EA021;
}

header img{
    width: 50%;
    margin: auto;
}

.main {
    margin-top: 50px;
    position: relative;
    min-height: 60vh;
    /* background: url("Image 1.png") no-repeat; */
    /* background-size: 100% 100%; */
    display: grid;
    justify-items: center;
    text-align: center;
    align-content: center;
}

.prese {
    /* V1 */
    /* color: #535353; */
    color: rgb(230, 222, 222);

    position: relative;
    min-height: 90vh;
    margin-bottom: 8vh;

    /* V2 */
    /* background: url("Image 1.png") no-repeat; */
    background: url("photo_ext-2.jpg") no-repeat, radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    /* background-size: 100% 100%; */
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;

    /* V1 */
    /* background-color: #f4D29A; */
    
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
}

.prese div>span {
    font-size: larger;
    color: #d98626;
}

.dedeux {
    background-position: bottom;
}

.main>img {
    width: 70%;
    border: #8e190294 solid 1px;
}

.main>p {
    /* margin:  20px 5px; */
    margin: 20px 0px;
    max-width: 100%;
    font-size: 23px;
    /* V1 */
    /* background-color: #f4D29A; */
    /* V2 */
    background: black;
    color: rgb(230, 222, 222);
    border: #8e190294 solid 1px;
    
    padding: 40px;
}

.main>.imgdeux {
    width: 80%;
}

footer {
    padding: 5px;
    display: flex;
}

footer a {
    text-decoration: none;
    color: #535353;
    font-size: small;
}

footer a:nth-child(2) {
    margin-left: auto;
}