body {
    /* overflow: hidden; */
}

label {
    display: none;
}

header {
    height: initial;
    font-size: larger;
    transform: translate(0);
    display: flex;
    justify-content: center;
    background: none;
    position: initial;
}

header img{
    background-color: #8E1a02;
    width: 5%;
    margin: initial;
    /* margin-left: 30%; */
    border-radius: 10px;
    position: absolute;
    right: 0;
}


header a {
    margin-left: 30px;
    position: relative;
}

header a:hover:before {
    pointer-events: none;
    content: "";
    position: absolute;
    left: 19%;
    bottom: -3px;
    height: 15px;
    width: 70%;
    border-bottom: 3px solid #ffc861a9;
}

header a:first-child {
    margin-left: 0;
}

/* main {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
} */

/* .child {
    scroll-snap-align: start;
} */

.main {
    background: none;
    display: flex;
    align-items: center;
    justify-items: space-around;
    margin: 0 50px 0 50px;
    text-align: unset;
}

.main>img:nth-child(1) {
    width: 70%;
    z-index: -1;
    position: absolute;
    display: initial;
}

.main div{
    margin: 40px;
    width: 500px;
}

.main .imgdeux {
    width: 60%;
    height: 50%;
}


svg:hover{
    opacity: 1;
}

footer a{
    font-size: medium;
}
.mob{
    display: none;
}
.ord{
    display: flex;
    position: relative;
    /* justify-content: space-evenly */
    width: 75%;
    margin: auto;
}
.mois{
    text-align: end;
    margin-left: 110px;
}
.lieux{
    text-align: start;
    margin-left: auto;
}
.trait{
    position: absolute;
    left: 50%;
    right: 50%;
    height: 100%;
    width: 20px !important;
    background-color: #000;
}
.hh{
    margin: 50px;
    display: initial;
}

.imgdatesord{
    display: flex;

    background: url("photo_contact.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
}
.imgdatesmob{
    display: none;
}
.imgdates>img{
    width: 40%;
}