body {
    /* overflow: hidden; */
}

label {
    display: none;
}

header {
    height: initial;
    font-size: larger;
    transform: translate(0);
    display: flex;
    justify-content: center;
    background: none;
    position: initial;
}

header img{
    background-color: #8E1a02;
    width: 5%;
    margin: initial;
    /* margin-left: 30%; */
    border-radius: 10px;
    position: absolute;
    right: 0;
}


header a {
    margin-left: 30px;
    position: relative;
}

header a:hover:before {
    pointer-events: none;
    content: "";
    position: absolute;
    left: 19%;
    bottom: -3px;
    height: 15px;
    width: 70%;
    border-bottom: 3px solid #ffc861a9;
}

header a:first-child {
    margin-left: 0;
}

.main {
    justify-content: left;
}

.main > ul > li > a{
    font-size: x-large;
}

footer a{
    font-size: medium;
}