html {
    scroll-behavior: smooth;
    font-family: rouge sans;
    font-weight: 100;
}

body {
    margin: 0;
    position: relative;
    background-color: #f4d59a7c;}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked+header {
    transform: translateX(0);
    box-shadow: rgba(0, 0, 0, 0.568) 17px 10px 6px;
}

label {
    margin: 10px;
    font-size: 25px;
    /*font-family: papyrus;*/
    color: #535353;
}

header {
    /*font-family: papyrus;*/
    z-index: 4;
    display: grid;
    padding: 5px;
    position: absolute;
    top: 35px;
    /* bottom: 80%; */
    left: 0;
    right: 36px;
    background-color: #EBE3DC;
    transform: translateX(-100%);
}

header a {
    margin: 15px;
    text-decoration: none;
    color: #535353;
}

footer a:nth-child(2) {
    border-bottom: 3px solid #b99148;
    color: #8EA021;
}

.main {
    margin-top: 10px;
    position: relative;
    min-height: 85vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.main ul li{
    margin: 10px;
    color: black;
}

.main > ul > li > a{
    text-decoration: none;
    color: #000;
    margin: 5px;
}

footer{
    padding: 5px;
    display: flex;
}

footer a{
    text-decoration: none;
    color: #535353;
    font-size: small;
}

footer a:nth-child(2){
    margin-left: auto;
}