body {
    /* overflow: hidden; */
}

label {
    display: none;
}

header {
    height: initial;
    font-size: larger;
    transform: translate(0);
    display: flex;
    justify-content: center;
    /* V2 */
    /* justify-content: space-between; */
    background: none;
    position: initial;
}

header a {
    margin-left: 30px;
    position: relative;
}

header img{
    background-color: #8E1a02;
    width: 5%;
    margin: initial;
    /* margin-left: 30%; */
    border-radius: 10px;
    position: absolute;
    right: 0;
}

header a:hover:before {
    pointer-events: none;
    content: "";
    position: absolute;
    left: 19%;
    bottom: -3px;
    height: 15px;
    width: 70%;
    border-bottom: 3px solid #ffc861a9;
}

header a:first-child {
    margin-left: 0;
}

.main {

    display: flex;
    align-items: center;
    justify-items: space-around;
    margin: 0 50px 0 50px;
    margin-top: 10px;
    background-size: 100% 80%;
    min-height: 100vh;
}

.premier{
    min-height: 30vh;
}

.prese {
    /* background-size: 90% 56%; */
    background-position: center;
    font-size: 45px;
}

.main>img {
    width: 40%;
    z-index: -1;
    display: initial;
} 

.main>p {
    margin: 40px;
    width: 60%;
        /* background: none; */
}

.dedeux>p {
    /* transform: translateX(100%); */
    position: absolute;
    right: 0;
}

footer a {
    font-size: medium;
}